h1{

    font-family: Georgia, cursive;
    font-size: 52px;
    color: #000000;
    font-weight: 400; /* 400 or 700 available */
    text-align: center;
}
.group{
    display: flex;
    flex-direction: column;
}
.item{
    margin: 10px;
}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
  
}